doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title 香港記憶學院台灣分校
    |     
    link(href='assets/css/template.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |       
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  |   
  body
    #page
      header#header.site-header
        nav#topbar.site-topbar.visible-lg.visible-md
          .container
            .row
              .col-sm-6 歡迎來電諮詢 (02)5593-3903
              |               
              .social-links.col-sm-6
                a(href='#')
                  i.fa.fa-facebook
                |                 
                a(href='#')
                  i.fa.fa-twitter
                |                 
                a(href='#')
                  i.fa.fa-google-plus
                |                 
                a(href='#')
                  i.fa.fa-pinterest
        |         
        nav#navbar.site-navbar.navbar.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                |                 
                i.fa.fa-bars
              |               
              h1.navbar-brand
                i.fa.fa-power-off
                |  
                a(href='/') 香港記憶學院台灣分校
            |             
            #navbar-collapse-1.collapse.navbar-collapse
              ul#navigation.nav.navbar-nav.navbar-right
                li.active
                  a.current(href='#header') 首頁
                |                 
                li
                  a(href='#features') 課程介紹
                |                 
                li
                  a(href='#portfolio') 學習成果
                |                 
                li
                  a(href='#testimonials') 學員分享
                |                 
                li
                  a(href='#blog') 線上報名
                |                 
                li
                  a(href='#clients') 活動花絮
                |                 
                li
                  a(href='#contact') 聯絡方式
      |       
      main#main.site-main
        section#carousel-1.carousel.slide.section-slide(data-ride='carousel')
          .carousel-inner
            .item.active(style='background: url(images/cover1.jpg);')
              .container
                img(src='http://placehold.it/640x340', alt='Second slide')
            |             
            .item(style='background: url(images/bg-2.jpg);')
              .container
                img(src='http://placehold.it/640x340', alt='Second slide')
            |             
            .item(style='background: url(images/bg-3.jpg);')
              .container
                img(src='http://placehold.it/640x340', alt='Third slide')
          |           
          a.left.carousel-control(href='#carousel-1', data-slide='prev')
            span.fa.fa-chevron-left
          |           
          a.right.carousel-control(href='#carousel-1', data-slide='next')
            span.fa.fa-chevron-right
        |         
        section.section.section-center.section-cta
          .container
            h2.section-title
              span 節省讀書時間、加倍學習效率
            |             
            p
              | 已經很努力 K 書了，卻還是記不住嗎？
              | 想專注卻很難辦到嗎？
              | 想知道如何輕鬆背英文單字嗎？
              | 想要學得更快更好嗎？
            p
              | 超過一萬名學員見證，香港最賣座的記憶方法課程，獨家《高速視聽讀》與《0-6歲幼兒家長培訓》講座，現在正式在台灣開課！
            |             
            .main-action.row
              .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2
                a.smooth-scroll.btn.btn-lg.btn-block.btn-danger(href='#contact') 索取免費課程資訊
              |               
              .col-md-3.col-sm-4
                a.smooth-scroll.btn.btn-lg.btn-block.btn-default(href='#portfolio') 學員分享
        |         
        section#features.section.section-center.section-hilite.section-features
          .container
            h2.section-title
              span 課程介紹
            |             
            .row
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon1.png', alt='')
                |                 
                h4 記憶班《不用固定教材》
                |                 
                p.text-left
                  | 教授有關記憶培訓之方法，記憶理論、圖像記憶、聯想記憶、數字記憶，三種英文生字記憶方法，課文及資料重點記憶，文言文記憶...
              |               
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon2.png', alt='')
                |                 
                h4 高速視聽讀《港台獨家課程》
                |                 
                p.text-left
                  | 教授有關高速學習和提升分析、理解力之方法：高速視、速讀訓練、高速聽、高速讀、高速外語（英語教材）學習方法，
                  | 大腦集中專注力訓練，左右腦協調訓練、直映訓練、短文訓練、製作最有效筆記（學習應用）...
              |               
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon3.png', alt='')
                |                 
                h4 0-6歲幼兒家長班
                |                 
                p.text-left
                  | 打破幼兒教育的傳統，以教育家長為目標，非直接教導幼兒。港台兩地獨家，針對培訓幼兒的大腦學習能力和記憶力。
                  | 家長只需每日付出15分鐘，就能讓孩子在開心的環境下提升大腦吸收能力。
              |               
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon4.png', alt='')
                |                 
                h4 企業培訓
                |                 
                p.text-left
                  | 為各行各業量身訂做專屬記憶方法課程，針對不同類型的專業領域，教導員工如何記憶工作所需資料，提升工作專注力與成果，從小職員到大老闆都需要具備的技能，歡迎企業來電洽詢預約。
              |               
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon5.png', alt='')
                |                 
                h4 校園培訓
                |                 
                p.text-left
                  | 為國中小及大學課程量身訂做專屬記憶方法，教導學生如何把記憶技巧運用在學科上。
              |               
              .col-md-4.col-sm-6
                .icon-wrap
                  img(src='images/icon6.png', alt='')
                |                 
                h4 跟進課程
                |                 
                p.text-left
                  | 透過 LINE 等網路通訊軟體，為學員提供學後跟進，把各種學習理論實踐在學習和工作上。
        |         
        section#portfolio.section.section-portfolio
          .container
            h2.section-title
              span 學習成果
            |             
            ul#filters
              li
                a(href='#', data-filter='*') 全部
              |               
              li /
              |               
              li
                a(href='#', data-filter='.parents') 幼兒家長培訓
              |               
              li /
              |               
              li
                a(href='#', data-filter='.memorist') 記憶大師培訓
            |             
            .portfolio-isotope.row
              article.post.col-md-3.col-sm-6.portfolio-item.parents
                .entry-thumbnail
                  a.hover-effect(href='#', data-toggle='modal', data-target='#project-modal')
                    img(src='images/20150828-001.jpg', alt='')
                    |                     
                    span.overlay
                      i.fa.fa-plus
              |               
              article.post.col-md-3.col-sm-6.portfolio-item.memorist
                .entry-thumbnail
                  a.hover-effect(href='#', data-toggle='modal', data-target='#project-modal')
                    img(src='images/20150828-002.jpg', alt='')
                    |                     
                    span.overlay
                      i.fa.fa-plus
              |               
              article.post.col-md-3.col-sm-6.portfolio-item.memorist
                .entry-thumbnail
                  a.hover-effect(href='#', data-toggle='modal', data-target='#project-modal')
                    img(src='images/20150828-003.jpg', alt='')
                    |                     
                    span.overlay
                      i.fa.fa-plus
              article.post.col-md-3.col-sm-6.portfolio-item.parents
                .entry-thumbnail
                  a.hover-effect(href='#', data-toggle='modal', data-target='#project-modal')
                    img(src='images/20150828-004.jpg', alt='')
                    |                     
                    span.overlay
                      i.fa.fa-plus
        // Project Modal
        #project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-modal-label', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                |                 
                h4#project-modal-label.modal-title Project title
              |               
              .modal-body
                article.single-project
                  .project-thumbnail
                    #project-thumbnail-carousel-1.carousel.slide(data-ride='carousel')
                      .carousel-inner
                        .item.active
                          img(src='http://placehold.it/800x600')
                        |                         
                        .item
                          img(src='http://placehold.it/800x600')
                        |                         
                        .item
                          img(src='http://placehold.it/800x600')
                      |                       
                      ol.carousel-indicators
                        li.active(data-target='#project-thumbnail-carousel-1', data-slide-to='0')
                        |                         
                        li(data-target='#project-thumbnail-carousel-1', data-slide-to='1')
                        |                         
                        li(data-target='#project-thumbnail-carousel-1', data-slide-to='2')
                      |                       
                      a.left.carousel-control(href='#project-thumbnail-carousel-1', data-slide='prev')
                        span.fa.fa-chevron-left
                      |                       
                      a.right.carousel-control(href='#project-thumbnail-carousel-1', data-slide='next')
                        span.fa.fa-chevron-right
                  |                   
                  .row
                    .col-md-4
                      button.btn.btn-block.btn-primary(type='button') Launch Project
                      |                       
                      ul.list-unstyled.project-info
                        li
                          strong Type
                          |  
                          span.pull-right Web Design
                        |                         
                        li
                          strong Client
                          |  
                          span.pull-right Google
                        |                         
                        li
                          strong Year
                          |  
                          span.pull-right 2015
                    |                     
                    .col-md-8
                      p
                        | Suspendisse varius nisl nunc. Aenean in dictum nibh. Nullam congue facilisis purus porta ullamcorper. Aenean in consequat sapien. Cras orci augue, ultricies at luctus congue, dapibus sed magna. Vivamus consequat commodo pharetra. Maecenas sed tincidunt mi, quis accumsan nisi. Praesent ac porttitor massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in bibendum tellus, vitae imperdiet mauris.
        |         
        section#testimonials.section.section-center.section-hilite.section-testimonial
          .container
            h2.section-title
              span 學員分享
            |             
            i.fa.fa-quote-left.fa-3x
            |             
            #carousel-example-generic.carousel.slide(data-ride='carousel')
              .carousel-inner
                .item.active
                  blockquote
                    p 一連八堂的課堂中獲益良多。課程中，學習了不同的記憶方法，很有效。
                    small 郭曉天
                .item
                  blockquote
                    p 我覺得很有用，可以應用於學習上，令我的腦袋比以前靈活了。多謝你的教導。
                    small 楊曉雯
                .item
                  blockquote
                    p 在這八個星期的課程裹，我學會了很多記憶的方法。我覺得這非常能讓我應用於學校的科目小測或考試，還很多謝各位阿Sir同Miss的教導。
                    small 黃詠彤
              |               
              ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                  img.img-circle(src='http://placehold.it/64x64', width='64', height='64', alt='')
                |                 
                li(data-target='#carousel-example-generic', data-slide-to='1')
                  img.img-circle(src='http://placehold.it/64x64', width='64', height='64', alt='')
                |                 
                li(data-target='#carousel-example-generic', data-slide-to='2')
                  img.img-circle(src='http://placehold.it/64x64', width='64', height='64', alt='')
        |         
        section#pricing.section.section-center.section-pricing
          .container
            h2.section-title
              span 授課內容
            |                 
            .pricing-table
              .row
                .col-md-3.col-sm-6
                  .panel.panel-default
                    header.panel-heading
                      h1 記憶方法入門
                      |                                     
                      .the-price
                        | 2 hours / Free
                    |                                 
                    .panel-body
                      table.table
                        tbody
                          tr
                            td 限額免費講座
                          |                                             
                          tr.active
                            td 資優生考試必備能力
                          |                                             
                          tr
                            td 記憶記錄保持人親自授課
                          |                                             
                          tr.active
                            td 左右腦平衡運用的技巧
                          |                                             
                          tr
                            td 常見記憶方法實際練習
                          |                                             
                          tr.active
                            td 現場報名課程享特別優惠
                    |                                 
                    footer.panel-footer
                      a.btn.btn-default(href='#') Sign up now
                |                         
                .col-md-3.col-sm-6
                  .panel.panel-default
                    header.panel-heading
                      h1 高速視聽讀
                      |                                     
                      .the-price
                        | 2 hours / Free
                    |                                 
                    .panel-body
                      table.table
                        tbody
                          tr
                            td 限額免費講座
                          |                                             
                          tr.active
                            td 超越傳統速讀的新方法
                          |                                             
                          tr
                            td 高速視、聽、讀技巧大公開
                          |                                             
                          tr.active
                            td 專注力養成
                          |                                             
                          tr
                            td 增加英語文學習效率
                          |                                             
                          tr.active
                            td 現場報名課程享特別優惠
                    |                                 
                    footer.panel-footer
                      a.btn.btn-default(href='#') Sign up now
                |                         
                .col-md-3.col-sm-6
                  .panel.panel-primary
                    header.panel-heading
                      h1 記憶大師班
                      |                                     
                      .the-price
                        | 20 hours
                    |                                 
                    .panel-body
                      table.table
                        tbody
                          tr
                            td 香港記憶大師親自面授
                          |                                             
                          tr.active
                            td 密集課程 5 天共 20 小時
                          |                                             
                          tr
                            td 涵蓋速讀、記憶方法與專注力訓練
                          |                                             
                          tr.active
                            td 適合 9 ~ 18 歲學生
                          |                                             
                          tr
                            td 小班制教學
                          |                                             
                          tr.active
                            td 頒發結訓證書
                    |                                 
                    footer.panel-footer
                      a.btn.btn-primary(href='#') 瞭解開課日期及費用
                |                         
                .col-md-3.col-sm-6
                  .panel.panel-default
                    header.panel-heading
                      h1 幼兒家長培訓
                      |                                     
                      .the-price
                        | 10 hours
                    |                                 
                    .panel-body
                      table.table
                        tbody
                          tr
                            td 課程開發者獨家面授
                          |                                             
                          tr.active
                            td 幼兒潛能開發
                          |                                             
                          tr
                            td 0 ~ 6 歲幼兒家長的必修課
                          |                                             
                          tr.active
                            td 解答幼兒教養問題
                          |                                             
                          tr
                            td 小班制教學
                          |                                             
                          tr.active
                            td 頒發結訓證書
                    |                                 
                    footer.panel-footer
                      a.btn.btn-default(href='#') Sign up now
        |         
        section#team.section.section-center.section-hilite.section-team
          .container
            h2.section-title
              span 我們的教學團隊
            |                 
            .row
              .col-md-3.col-sm-3.col-xs-6
                img(src='http://placehold.it/300x300')
                |                         
                h5 李鑑峰
              |                     
              .col-md-3.col-sm-3.col-xs-6
                img(src='http://placehold.it/300x300')
                |                         
                h5 Iron Ma
              |                     
              .col-md-3.col-sm-3.col-xs-6
                img(src='http://placehold.it/300x300')
                |                         
                h5 Vicki Wong
              |                     
              .col-md-3.col-sm-3.col-xs-6
                img(src='http://placehold.it/300x300')
                |                         
                h5 Louis Leung
        |         
        section#blog.section.section-blog
          .container
            h2.section-title
              span 線上報名
            |             
            .row
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
                      a.hover-effect(href='#')
                        img(src='http://placehold.it/165x165', alt='')
                        |                         
                        span.overlay
                          i.fa.fa-plus
                    |                     
                    .col-lg-8.col-md-7.col-sm-8
                      header.entry-header
                        h2.entry-title
                          a(href='#') 高速視聽讀【免費講座】
                        |                         
                        .entry-meta
                          | 授課老師：
                          a(href='#') 李鑑峰、Iron Ma
                      |                       
                      .entry-content
                        p
                          | Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.
                        |                         
                        a.more(href='#')
                          span.btn.btn-primary 立即填寫報名資料
              |               
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4
                      a.hover-effect(href='#')
                        img(src='http://placehold.it/165x165', alt='')
                        |                         
                        span.overlay
                          i.fa.fa-plus
                    |                     
                    .col-lg-8.col-md-7.col-sm-8
                      header.entry-header
                        h2.entry-title
                          a(href='#') 0-6歲幼兒家長培訓【免費講座】
                        |                         
                        .entry-meta
                          | By 
                          a(href='#') Jackie Lord
                          |  in 
                          a(href='#') Category
                      |                       
                      .entry-content
                        p
                          | Pellentesque eleifend amet scelerisque convallis. Aenean eget metus non erat suscipit accumsan.
                        |                         
                        a.more(href='#')
                          span.btn.btn-primary Continue Reading
        |         
        section#clients.section.section-hilite.section-our-clients
          .container
            h2.section-title
              span 活動花絮
            |             
            .row
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
              |               
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
              |               
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
              |               
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
              |               
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
              |               
              .col-md-2.col-sm-4.col-xs-6
                a(href='#')
                  img(src='http://placehold.it/165x80', alt='')
        |         
        section#contact.section.section-center.section-contact
          .container
            h2.section-title
              span 索取免費課程資訊
            |             
            p 只要留下您的聯絡方式，我們會以簡訊及 E-Mail 通知您最新的講座及課程資訊！           
            .main-action
              form(role='form')
                .row
                  .col-sm-6
                    .form-group
                      label.sr-only Subject
                      |                       
                      input.form-control(type='text', placeholder='姓名')
                    |                     
                    .form-group
                      label.sr-only Name
                      |                       
                      input.form-control(type='text', placeholder='手機號碼')
                    |                     
                    .form-group
                      label.sr-only Email
                      |                       
                      input.form-control(type='email', placeholder='E-Mail 信箱')
                  |                   
                  .col-sm-6
                    .form-group
                      label.sr-only Message
                      |                       
                      textarea.form-control(placeholder='留言訊息', style='height: 100px', rows='6')
                |                 
                button.btn.btn-default(type='submit') Send message
      |       
      footer#footer.site-footer
        .container
          #sidebar-footer-1
            .row
              aside.widget.col-md-4.col-sm-12
                h5.widget-title 關於我們
                |                 
                p.text-left  我們強調有效學習，但我們更重視開心學習，因為我們相信「開心就開腦」！透過協助改善學員的心理效能，使他們更有效及更樂於吸收知識。而我們亦會於各類方法中，加入各種技術以激發大腦潛能！
              |               
              aside.widget.col-md-4.col-sm-6
                h5.widget-title 台灣分校
                |                 
                .textwidget
                  div
                    | 電話: 
                    span.tel +886 2 5593 3903
                  |                   
                  div
                    | 電郵: memory4u@trunk-studio.com
                  .adr
                    | 地址:
                    | 台中市西區台灣大道二段2號16F-1
                    br
                    | （親家台灣大道廣場）
                  |                   
                  div
                    | 網站: 
                    a.url(href='http://memory4u.tw') memory4u.tw
                    br
                    a.url(href='http://www.facebook.com/memory4u.tw') Facebook 粉絲專頁
              |               
              aside.widget.col-md-4.col-sm-6
                h5.widget-title 香港分校
                |                 
                .textwidget
                  div
                    | 電話: 
                    span.tel +852 2139 5276
                  |                   
                  div
                    | 電郵: info@Crazyfungmemory.com.hk
                  .adr
                    | 地址:
                    | 彌敦道229號周生生大廈503室
                    br
                    |（佐敦港鐵站C1出口轉左）
                  |                   
                  div
                    | 網站:
                    a.url(href='http://www.crazyfungmemory.com.hk/')  crazyfungmemory.com.hk
                    br
                    a.url(href='http://www.facebook.com/cfmemory') Facebook 粉絲專頁
              |               
          |           
          #sidebar-footer-2
            .row
              aside.widget.col-sm-6
                h5.widget-title 學員心聲
                |                 
                .tweet
                  .text-left 速讀的確可增強閱讀興趣及速度，需要堅持，耐性才能達到理想效果，雖然知道想像有助記憶，但經過正統訓練，的確對記憶有非一般的幫助。
                  br
                  | &ndash; 詹如鳳 &ndash;
              |               
              aside.widget.widget_flickr.col-sm-6
                h5.widget-title 最新課程及講座圖片
                |                 
                .row
                  .col-sm-4
                    img(src='http://www.crazyfungmemory.com.hk/images/h-new-1.png')
                    br
                    small 壯啟程小學家教會演講
                  .col-sm-4
                    img(src='http://www.crazyfungmemory.com.hk/images/h-new-2.png')
                    br
                    small 聖三一堂中學講座
                  .col-sm-4
                    img(src='http://www.crazyfungmemory.com.hk/images/h-new-3.png')
                    br
                    small 聖道迦南中學記憶班
          .copyright
            p
              | &copy; 2015 香港記憶學院・台灣分校
              br
              |  台灣獨家代理商
              a(href='http://trunk-studio.com') 創科資訊股份有限公司
              br
              | 地址：台中市西區台灣大道二段2號16F-1
              br
              | 統一編號：54891351
    |     
    .scroll-to-top(data-spy='affix', data-offset-top='200')
      a.smooth-scroll(href='#page')
        i.fa.fa-arrow-up
    |   
    |     
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.10.2.min.js')
    |     
    script(type='text/javascript', src='assets/js/bootstrap-3.1.1.min.js')
    |     
    script(type='text/javascript', src='assets/js/jquery.isotope.min.js?v=1.5.26')
    |     
    script(type='text/javascript', src='assets/js/jquery.singlePageNav.min.js')
    |     
    script(type='text/javascript', src='assets/js/main.js')
